.search-button--random{
    background: #62c370;
    color: white;
    font-weight: 800;
    border: solid 2px rgba(233, 243, 233, 0.511);
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    max-height: fit-content;
  }


  .search-button{
    background: #62c370;
    color: white;
    font-weight: 800;
    border: solid 2px rgba(233, 243, 233, 0.511);
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    max-height: fit-content;
    border: none;
  }

  .recipe-button--random {
    background-color: #26ff003d;
    backdrop-filter: blur(10px);
    color: $color-text;
    border: none;
    border-radius: $glass-radius;
    cursor: pointer;
    position: relative;
    font-weight: bolder;
    font-size: 0.75rem;
    height: fit-content;
    width:fit-content;
    padding: 0.5rem;
    bottom: 2rem;
    left: 3.5rem;
    border-radius: $glass-radius;
    box-shadow:$box-shadow;
  }

  .recipe-button--search {
    background:$color-primary;
    color: $button-text;
    border: none;
    border-radius: $glass-radius;
    cursor: pointer;
    position: relative;
    backdrop-filter: blur(10px);
    font-weight: bolder;
    font-size: 1.5rem;
    height: fit-content;
    padding: 0.5rem;
    bottom: 8vh;
    left: 32vh;
  }

  ////////////// Bottoni Modale ///////////////
  /// 
  /// 
.bottone-chiudi-modale {
  background: #ff000c29;
  color: white;
  border: solid 2px #f3060630;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  backdrop-filter: blur(20px);
  font-weight: bolder;
  font-size: 0.75rem;
  width: fit-content;
  padding: 0.5rem;
  top: 200%;
  left: 80%;
}

  .bottone-mostra-conservazione {
    background:$color-primary;
    color: $button-text;
    border: none;
    border-radius: $glass-radius;
    cursor: pointer;
    position: relative;
    backdrop-filter: blur(10px);
    font-weight: bolder;
    font-size: 0.75rem;
    height: fit-content;
    padding: 0.5rem;
    bottom: 8vh;
    left: 32vh;;
  }


  .bottone-mostra-ingredienti {
    background: #62c37061;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  font-weight: bolder;
  font-size: 0.75rem;
  height: fit-content;
  padding: 0.5rem;
  position: relative;
  width: fit-content;
  top: -1008%;
  left: 0;
  }