.search-button--random{
  background: #62c370;
  color: white;
  font-weight: 800;
  border: solid 2px rgba(233, 243, 233, 0.511);
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  max-height: fit-content;
}

.search-button{
  background: #62c370;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  border: solid 2px rgba(233, 243, 233, 0.511);
  padding: 1%;
  border-radius: 6px;
  cursor: pointer;
  max-height: fit-content;
  border: none;
  box-shadow: $glass-box-shadow;

  @include respond(md) { // larghezza minima (≥768px)
    font-size: 1.9rem;
    font-weight: 800;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    font-size: 1.9rem;
    font-weight: 900;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    font-size: 1.9rem;
    font-weight: 1000;
  }

}

.recipe-button--random {
  background-color: #26ff003d;
  backdrop-filter: blur(20px);
  color: $color-text;
  border: none;
  border-radius: $glass-radius;
  cursor: pointer;
  position: relative;
  font-weight: bolder;
  font-size: 0.75rem;
  height: fit-content;
  width:fit-content;
  padding: 0.5rem;
  bottom: 4rem;
  left: 6.5rem;
  border-radius: $glass-radius;
  box-shadow:$glass-box-shadow;

  @include respond(md) { // larghezza minima (≥768px)
    padding: 0.5rem;
    bottom: 5.5rem;
    left: 10rem;
    font-size: 1rem;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    padding: 0.5rem;
    bottom: 6.5rem;
    left: 10.2rem;
    font-size: 1rem;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    padding: 0.5rem;
    bottom: 7.4rem;
    left: 13rem;
    font-size: 1.3rem;
  }
}

.recipe-button--search {
  background:$color-primary;
  color: $button-text;
  border: none;
  border-radius: $glass-radius;
  cursor: pointer;
  position: relative;
  backdrop-filter: blur(20px);
  font-weight: bolder;
  font-size: 1.5rem;
  height: fit-content;
  padding: 0.5rem;
  bottom: 15%;
  left: 65%;
  box-shadow: $glass-box-shadow;

  @include respond(md) { // larghezza minima (≥768px)
    font-size: 1.5rem;
    top: -15%;
    left: 80%;   
    }
    @include respond (lg) {// larghezza minima (≥1024px)
    font-size: 2rem;
    top: -15%;
    left: 80%;
    }
    @include respond (xl){ // larghezza minima (≥1440px)
    font-size: 2.5rem;
    top: -15%;
    left: 81%;
  }
}




//////////////////////////Bottoni Menu //////////////////


.container-bottoni{
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: $space-lg;
  padding: $space-sm;
  justify-content: space-between;
  margin-bottom: $space-lg;
  border-radius: $glass-radius;
  box-shadow: $glass-box-shadow;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  
    @include respond(md) { // larghezza minima (≥768px)
      gap: 1rem;
    }
    @include respond (lg) {// larghezza minima (≥1024px)
      gap: 1rem;
    }
    @include respond (xl){ // larghezza minima (≥1440px)
      gap: 1.5rem;
    }
    /* &:hover, */
    &:focus {
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
  }

.menu-button {
  position:relative;
  display: flex;
  flex-direction: row-reverse;
  gap: $space-lg;
  background: $color-primary;
  color: white;
  border: $glass-border;
  border-radius: 12px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  font-size: 0.75rem;
  font-weight: 500;
  height: fit-content;
  padding: $space-sm;
  box-shadow: $glass-box-shadow;
  justify-content: space-evenly;
  
    @include respond(md) { // larghezza minima (≥768px)
      font-size: 1rem;
      font-weight: 600;
    }
    @include respond (lg) {// larghezza minima (≥1024px)
      font-size: 1.3rem;
      font-weight: 600;
    }
    @include respond (xl){ // larghezza minima (≥1440px)
      font-size: 2rem;
      font-weight: 700;
    }
  }


 .menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; // spazio tra icona e testo
  background: #62c37194; // colore di default verde
  color: white;
  border: $glass-border;
  border-radius: 12px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  font-size: 0.75rem;
  font-weight: 500;
  height: fit-content;
  padding: 0.5rem;
  box-shadow: $glass-box-shadow;

  @include respond(md) {
    font-size: 1rem;
    font-weight: 600;
  }
  @include respond(lg) {
    font-size: 1.3rem;
    font-weight: 900;
  }
  @include respond(xl) {
    font-size: 2rem;
    font-weight: 1000;
  }

  &.active {
    background: rgba(255, 0, 0, 0.524); // bottone attivo diventa rosso
    border: $glass-border;
  }

  img.menu-icon {
    width: 20px;
    height: 20px;
  }
}

//////////////////// Bottoni Timer /////////////////////////
/// 
/// 
.open-timer-button{
  width:25px;
}
.timer-collapse-button {
  background-color: $color-primary;
  border-radius: $glass-radius;
  border:$glass-border;
  color: $color-text;
  font-size: large;
  font-weight: 700;
  padding: $space-sm;
  margin-bottom: $space-md;
}

.timer-expand-button {
  background-color: $color-primary;
  border-radius: $glass-radius;
  border:$glass-border;
  color: $color-text;
  font-size: large;
  font-weight: 700;
}
.play-pause-button{
  width: fit-content;
  height:auto;
  justify-content: space-evenly;
  align-items: center;
}