.search-button--random{
    background: #62c370;
    color: white;
    font-weight: 800;
    border: solid 2px rgba(233, 243, 233, 0.511);
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    max-height: fit-content;
  }


  .search-button{
    background: #62c370;
    color: white;
    font-weight: 800;
    border: solid 2px rgba(233, 243, 233, 0.511);
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    max-height: fit-content;
    border: none;
  }

  .recipe-button--random {
    background: rgba(28, 180, 50, 0.54);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    backdrop-filter: blur(10px);
    font-weight: bolder;
    font-size: 0.75rem;
    height: fit-content;
    width:fit-content;
    padding: 0.5rem;
    bottom: -0.0rem;
    z-index: 100;
  }

  .recipe-button--search {
    background:$color-primary;
    color: $button-text;
    border: none;
    border-radius: $glass-radius;
    cursor: pointer;
    position: relative;
    backdrop-filter: blur(10px);
    font-weight: bolder;
    font-size: 1.5rem;
    height: fit-content;
    padding: 0.5rem;
    bottom: 8vh;
    left: 32vh;
  }

  ////////////// Bottoni Modale ///////////////
  /// 
  /// 
  .bottone-chiusura-modale {
    background-color: red;

  }