//Bottone cerca
.search-button--random{
  background: #62c370;
  color: white;
  font-weight: 800;
  border: solid 2px rgba(233, 243, 233, 0.511);
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  max-height: fit-content;
}

.search-button{
  background: $color-primary;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  border: $glass-border;
  padding: $space-sm;
  border-radius: $glass-radius;
  cursor: pointer;
  max-height: fit-content;
  box-shadow: $glass-box-shadow;

  @include respond(md) { // larghezza minima (≥768px)
    font-size: 1.9rem;
    font-weight: 800;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    font-size: 1.9rem;
    font-weight: 900;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    font-size: 1.9rem;
    font-weight: 1000;
  }

}

.recipe-button--random {
  background-color: #26ff003d;
  backdrop-filter: blur(20px);
  color: $button-text;
  border: none;
  border-radius: $glass-radius;
  cursor: pointer;
  position: relative;
  font-weight: bolder;
  font-size: 0.75rem;
  height: fit-content;
  width:fit-content;
  padding: 0.5rem;
  bottom: 2.5rem;
  left: 4.5rem;
  border-radius: $glass-radius;
  box-shadow:$glass-box-shadow;

  @include respond(md) { // larghezza minima (≥768px)
    padding: 0.5rem;
    bottom: 2.8rem;
    left: 9.5rem;
    font-size: 1rem;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    padding: 0.5rem;
    bottom: 3.5rem;
    left: 9.2rem;
    font-size: 1rem;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    padding: 0.5rem;
    bottom: 3.4rem;
    left: 10rem;
    font-size: 1.3rem;
  }
}

.recipe-button--search {
  background:$glass-primary;
  color: $button-text;
  border: none;
  border-radius: $glass-radius;
  border: $glass-border;
  cursor: pointer;
  position: relative;
  backdrop-filter: $glass-backdrop;
  font-weight: bolder;
  font-size: 1rem;
  height: fit-content;
  padding: 0.5rem;
  bottom: 2.5rem;
  left: 12rem;
  box-shadow: $glass-box-shadow;

  @include respond (xs) { // larghezza minima (≥320px)
    font-size: 1rem;
    bottom: 2.5rem;
    left: 13rem;
  }
  @include respond (sm) { // larghezza minima (≥480px)
    font-size: 1rem;
    bottom: 2.5rem;
    left: 23rem;
  }

  @include respond(md) { // larghezza minima (≥768px)
    font-size: 2rem;
    bottom: 4rem;
    left: 35rem;
    background-color: $color-accent;
    }
    @include respond (lg) {// larghezza minima (≥1024px)
      font-size: 2rem;
      bottom: 1rem;
      left: 47rem;
    }
    @include respond (xl){ // larghezza minima (≥1440px)
    font-size: 2.5rem;
    top: -15%;
    left: 81%;
  }
}

//Bottoni Condividi
.share-social-buttons {
  position: absolute;
  right: 1rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  z-index: 2;
  top: 0.5rem;
  background: $glass-background;
  backdrop-filter: $glass-backdrop;
  border:$glass-border;
  border-radius: $glass-radius;
  box-shadow: $glass-box-shadow;

  @include respond(xs) { 
      // larghezza minima (≥350px)
  }

  @include respond(md) {
    // larghezza minima (≥768px)
    right: 1.5rem;
  }

@include respond(lg) {
    // larghezza minima (≥1024px)

  }

@include respond(xl) {
    // larghezza minima (≥1440px)
    top: 0.5rem;
    right: 1.5rem;
  }

}







//Bottoni Menu
.container-bottoni{
  position:relative;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $space-xs;
  margin-top: $space-lg;
  padding: $space-sm;
  justify-content: space-between;
  margin-bottom: $space-lg;
  border-radius: $glass-radius;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  
    @include respond(md) { // larghezza minima (≥768px)
      gap: 1rem;
      flex-direction: row;
    }
    @include respond (lg) {// larghezza minima (≥1024px)
      gap: 1rem;
      flex-direction: row;
    }
    @include respond (xl){ // larghezza minima (≥1440px)
      gap: 1.5rem;
      flex-direction: row;
    }
    /* &:hover, */
    &:focus {
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
  }

.menu-button {
position:relative;
display: flex;
flex-direction: row-reverse;
gap: $space-lg;
background: $color-primary;
color: white;
border: $glass-border;
border-radius: 12px;
cursor: pointer;
backdrop-filter: blur(10px);
font-size: 0.75rem;
font-weight: 500;
height: fit-content;
padding: $space-sm;
box-shadow: $glass-box-shadow;
justify-content: space-evenly;
align-items: center;
font-weight: 600;
font-size: $space-md;

  @include respond(md) { // larghezza minima (≥768px)
    font-size: 1rem;
    font-weight: 600;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    font-size: 1.3rem;
    font-weight: 600;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    font-size: 2rem;
    font-weight: 700;
  }

  &.active {
    background: rgba(255, 0, 0, 0.524); // bottone attivo diventa rosso
    border: $glass-border;
  }
} 

//Bottoni Timer 
.open-timer-button{
  width:25px;
}

.timer-collapse-btn {
  background-color: $color-close;
  border-radius: $glass-radius;
  border:$glass-border;
  color: white;
  font-weight: 600;
  padding: $space-sm;
  margin-bottom: $space-sm;
  

  @include respond(md) { // larghezza minima (≥768px)
    font-size: 1rem;
    font-weight: 600;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    font-size: 1.3rem;
    font-weight: 600;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    font-size: 2rem;
    font-weight: 700;
  }

  &.active {
    background: rgba(255, 0, 0, 0.524); // bottone attivo diventa rosso
    border: $glass-border;
  }

}

.timer-expand-button {
  background-color: $color-primary;
  border-radius: $glass-radius;
  border:$glass-border;
  color: $color-text;
  font-size: large;
  font-weight: 700;
}

.play-pause-button{
  width: fit-content;
  height:auto;
  justify-content: space-evenly;
  align-items: center;
}

//Bottone Condividi Ricetta
.sharing-button {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background: #c5c7c96e;
  backdrop-filter: blur(3px);
  bottom: 0.5rem;
  right: 1rem;
  @include respond (xs) { // larghezza minima (≥320px)

  }
  @include respond (sm) { // larghezza minima (≥480px)

  }

  @include respond (md) { // larghezza minima (≥768px)
    bottom: 0.75rem;
    right: 1.5rem;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    bottom: 0.75rem;
    right: 1.8rem;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    bottom: 0.75rem;
    right: 1.8rem;
  }
}

.share-buttons {
  position: absolute;
  z-index: 1000;
  top:1rem;
  right:1rem;
  border-radius: 50%;
  width:fit-content;
  align-items: flex-end;
  text-align: center;
  padding: $space-sm;
  border: $glass-border;
  background-color: $glass-background;
  backdrop-filter: blur(5px);
    @include respond (xs) { // larghezza minima (≥320px)

    }
    @include respond (sm) { // larghezza minima (≥480px)

    }
  
    @include respond (md) { // larghezza minima (≥768px)
      top: 11rem;
      right: 1.3rem;
    }
    @include respond (lg) {// larghezza minima (≥1024px)
      top: 13rem;
      right: 1.5rem;
    }
    @include respond (xl){ // larghezza minima (≥1440px)
      top: 7rem;
      right: 1rem;
    }
  
  &.active {
    background-color: #4CAF50; 
    border-color: #4CAF50;
    transform: scale(1.1); 
  }
}