.search-button--random{
  background: #62c370;
  color: white;
  font-weight: 800;
  border: solid 2px rgba(233, 243, 233, 0.511);
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  max-height: fit-content;
}

.search-button{
  background: #62c370;
  color: white;
  font-weight: 800;
  border: solid 2px rgba(233, 243, 233, 0.511);
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  max-height: fit-content;
  border: none;
  box-shadow: $glass-box-shadow;

  @include respond(md) { // larghezza minima (≥768px)
    padding: 0.8rem;
    font-size: 20px;
    font-weight: 800;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    padding: 1rem;
    font-size: 22px;
    font-weight: 900;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    padding: 1.5rem;
    font-size: 25px;
    font-weight: 1000;
  }

}

.recipe-button--random {
  background-color: #26ff003d;
  backdrop-filter: blur(20px);
  color: $color-text;
  border: none;
  border-radius: $glass-radius;
  cursor: pointer;
  position: relative;
  font-weight: bolder;
  font-size: 0.75rem;
  height: fit-content;
  width:fit-content;
  padding: 0.5rem;
  bottom: 4rem;
  left: 6.5rem;
  border-radius: $glass-radius;
  box-shadow:$glass-box-shadow;

  @include respond(md) { // larghezza minima (≥768px)
    padding: 0.5rem;
    bottom: 5.5rem;
    left: 10rem;
    font-size: 1rem;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    padding: 0.5rem;
    bottom: 6.5rem;
    left: 12.2rem;
    font-size: 1rem;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    padding: 0.5rem;
    bottom: 7.4rem;
    left: 13rem;
    font-size: 1.3rem;
  }
}

.recipe-button--search {
  background:$color-primary;
  color: $button-text;
  border: none;
  border-radius: $glass-radius;
  cursor: pointer;
  position: relative;
  backdrop-filter: blur(20px);
  font-weight: bolder;
  font-size: 1.5rem;
  height: fit-content;
  padding: 0.5rem;
  bottom: 1vh;
  left: 28vh;
  box-shadow: $glass-box-shadow;
}

////////////// Bottoni Modale ///////////////
/// 
/// 
.bottone-chiudi-modale {
background: #ff000081;
color: white;
border: solid 2px #f3060630;
border-radius: 12px;
cursor: pointer;
position: relative;
backdrop-filter: blur(20px);
font-weight: bolder;
font-size: 0.75rem;
width: fit-content;
padding: 0.5rem;
top: 245%;
left: 82%;
box-shadow: $glass-box-shadow;

  @include respond(md) { // larghezza minima (≥768px)
    font-weight: bolder;
    font-size: 1rem;
    padding: $space-md;
    top: 15%;
    left: 85%;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    font-weight: bolder;
    font-size: 1.5rem;
    padding: $space-md;
    top: 20%;
    left: 88%;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    font-weight: bolder;
    font-size: 1.5rem;
    padding: $space-md;
    top: 25%;
    left: 91%;
  }
}

.container-bottoni{
display: flex;
flex-direction: row;
gap: 0.25rem;
margin-top: 0.25rem;
padding: $space-xs;

  @include respond(md) { // larghezza minima (≥768px)
    gap: $space-sm;
    margin-top: $space-sm;
    padding: $space-sm;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    gap: $space-md;
    margin-top: $space-md;
    padding: $space-md;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    gap: $space-xl;
    margin-top: $space-lg;
    padding: $space-lg;
  }
}

.bottone-mostra-conservazione {
position:relative;
background: #62c370;
color: white;
border: none;
border-radius: 12px;
cursor: pointer;
position: relative;
backdrop-filter: blur(10px);
font-size: 0.75rem;
height: fit-content;
padding: $space-sm;
box-shadow: $glass-box-shadow;
border:$glass-border;

  @include respond(md) { // larghezza minima (≥768px)
    font-size: 1rem;
    font-weight: 400;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    font-size: 1.3rem;
    font-weight: 600;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    font-size: 2rem;
    font-weight: 800;
  }
}

.bottone-mostra-ingredienti {
background: #62c370;;
color: white;
border: none;
border-radius: 12px;
cursor: pointer;
backdrop-filter: blur(10px);
font-size: 0.75rem;
height: fit-content;
padding: 0.5rem;
position: relative;
width: fit-content;
top: -1008%;
left: 0;
box-shadow: $glass-box-shadow;
  @include respond(md) { // larghezza minima (≥768px)
    font-size: 1rem;
    font-weight: 400;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    font-size: 1.3rem;
    font-weight: 600;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    font-size: 2rem;
    font-weight: 800;
  }
}

.bottone-preparazione {
  background: #62c370;;
color: white;
border: none;
border-radius: 12px;
cursor: pointer;
backdrop-filter: blur(10px);
font-size: 0.75rem;
height: fit-content;
padding: 0.5rem;
position: relative;
width: fit-content;
top: -1008%;
left: 0;
box-shadow: $glass-box-shadow;
  @include respond(md) { // larghezza minima (≥768px)
    font-size: 1rem;
    font-weight: 400;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    font-size: 1.3rem;
    font-weight: 600;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    font-size: 2rem;
    font-weight: 800;
  }
}