//MAIN ICONS
.menu-icon {
    width: 15px;
    height:auto;
    margin-left: $space-sm;
}

.share-icon{
    width: 30px;
    margin: $space-sm;
}

.no-results-icon {
    width:100vw;
}

//MENU ICONS
img.menu-icon {
    width: 40px;
    height: auto;
}

//TIMER ICONS
.apri-timer-icon,
  .chiudi-timer-icon{
    width: 25px;
}

.timer-btn-icon {
    width: 30px;
    height: auto;
}