//MAIN ICONS
.menu-icon {
    width: 15px;
    height:auto;
    margin-left: $space-sm;
}

.share-icon{
    width: 25px;
    margin: $space-xs;
    @include respond(xs) { 
        // larghezza minima (≥350px)
        width: 30px;
    }

    @include respond(md) {
        // larghezza minima (≥768px)
        margin: 0.5rem;
    }

  @include respond(lg) {
        // larghezza minima (≥1024px)

    }

  @include respond(xl) {
        // larghezza minima (≥1440px)
    }
}

.no-results-icon {
    width:100vw;
}

//MENU ICONS
img.menu-icon {
    width: 25px;
    height: auto;

    @include respond(xs) { 
        // larghezza minima (≥320px)
        width: 30px;
    }

    @include respond (sm){
        // larghezza minima (≥480px)
        width: 35px;
    }

    @include respond(md) {
        // larghezza minima (≥768px)
        width: 40px;
    }

  @include respond(lg) {
        // larghezza minima (≥1024px)
        width: 50px;
    }

  @include respond(xl) {
        // larghezza minima (≥1440px)
        width: 60px;
    }
}

//TIMER ICONS
.apri-timer-icon,
  .chiudi-timer-icon{
    width: 25px;
}

.timer-btn-icon {
    width: 15px;
    height: auto;
    @include respond (md) {
        width: 25px;
    }
    @include respond (xl) {
        width: 35px;
    }
}