@import '../base/variables';

.overlay-modale {
    position: fixed;  // ← NON relative!
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); // overlay scuro
    z-index: 1000; // sopra tutto!
    overflow-y: auto; // scroll se serve
    display: flex;
    justify-content: center;
    align-items: flex-start; // o center
    padding: 2rem;

}


.contenitore-principale {
    position: relative; // ← NON fixed!
    background: white;
    width: 100vw;
    border-radius: 8px;
    margin: auto; // centra verticalmente se serve
    padding: 0.5rem;
}

.titolo-ricetta-modale{
position: relative;
top: 4.2rem;
background-color: $glass-bg;
backdrop-filter: blur(20px);
color: $color-text;
box-shadow: $glass-box-shadow;
border: $glass-border;
border-radius: $glass-radius;
padding: $space-sm;
font-size: 0.9rem;
width: fit-content;
}

.immagine-ricetta-modale{
width: 100%;
padding: $space-xs;
border-radius: $glass-radius;
box-shadow: $glass-box-shadow;
}

.description {
position: relative;
width: 100%;
padding: $space-xs;
background-color: $glass-bg;
backdrop-filter: blur(20px);
margin-top: 35px;
border-radius: $glass-radius;

}
/////////////// lista ingredienti
/// 
.container-ingredienti{
margin-top:$space-lg;
display: flex;
flex-direction: row;
overflow: scroll;
width: 100%;
gap:$space-xs;
background-color: $glass-bg;
padding:$space-lg;
text-decoration: none;
border-radius: 12px;
box-shadow: $glass-box-shadow;
}

.container-ingredienti {
background-color: $color-bg;
border:$glass-border;
padding: $space-lg;
}

.preparazione {
position: relative;
top: 2.5rem;
width: 90%;
padding-left: 1rem;
}
.conservazione {
position:relative;
margin-top:20%;
}