@import '../base/variables';

.overlay-modale {
position: relative;
width: 100%;
padding: 0.5rem;
background-image: $color-bg;
}


.contenitore-principale {
position: relative;
background: linear-gradient(to bottom, rgba(248, 248, 248, 0.985), rgba(0, 128, 0, 0.99));
padding: 1rem;
width: 100%;
min-width: 100vw;
top:50%;
}

.titolo-ricetta-modale{
position: relative;
top: 3.5rem;
left: 0.5rem;
background-color: $glass-bg;
backdrop-filter: blur(20px);
color: $color-text;
box-shadow: $glass-box-shadow;
border: $glass-border;
border-radius: $glass-radius;
padding: $space-sm;
font-size: 0.9rem;
width: fit-content;
}

.immagine-ricetta-modale{
width: 100%;
padding: $space-xs;
border-radius: $glass-radius;
box-shadow: $glass-box-shadow;
}
.description {
position: relative;
width: 100%;
padding: $space-xs;
background-color: $glass-bg;
backdrop-filter: blur(20px);
margin-top: 35px;
border-radius: $glass-radius;

}
/////////////// lista ingredienti
/// 
.container-ingredienti{
margin-top:$space-lg;
display: flex;
flex-direction: row;
overflow: scroll;
width: 100%;
gap:$space-xs;
background-color: $glass-bg;
padding:$space-lg;
text-decoration: none;
border-radius: 12px;
box-shadow: $glass-box-shadow;
}

.container-ingredienti {
    background-color: $color-bg;
    border:$glass-border;
    padding: $space-lg;
}

.preparazione {
position: relative;
top: 2.5rem;
width: 90%;
padding-left: 1rem;
}
