@import '../base/variables';

.recipe-detail-container {
position: relative; 
top: 0;
left: 0;
width: 100%;
height: fit-content;
background-image: $color-bg;
overflow-y: auto; 
display: flex;
justify-content: center;
align-items: flex-start; 
padding: 3rem;
margin-top: $space-xl;
}


.titolo-ricetta-modale{
position: relative;
background-color: $glass-bg;
backdrop-filter: blur(20px);
color: $color-text;
box-shadow: $glass-box-shadow;
border: $glass-border;
border-radius: $glass-radius;
padding: $space-sm;
margin: $space-sm;
font-size: 1rem;
width: fit-content;

    @include respond(md) { // larghezza minima (≥768px)
        font-size: 1.5rem;
    }
    @include respond (lg) {// larghezza minima (≥1024px)
        font-size: 2rem;
    }
    @include respond (xl){ // larghezza minima (≥1440px)
        font-size: 2.3rem;
    }
}

.immagine-ricetta-modale{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 300px;
    border-radius: $glass-radius;
    border: $glass-border;
    box-shadow: $glass-box-shadow;

    @include respond(md) {
        width: auto;
        height: 400px;
    }
    @include respond(lg) {
        width: auto;
        height: 400px;
    }
}

.description {
position: relative;
width: 100%;
padding: $space-lg;
background-color: $glass-bg;
backdrop-filter: blur(20px);
margin-top: $space-md;
border-radius: $glass-radius;
border: $glass-border;
color: $color-text;

}
/////////////// Dettagli ricetta ///////////////////

.container-ingredienti {
position: relative;
align-items: center;
overflow-x: auto;
margin-top: $space-lg;
display: flex;
flex-direction: row;
gap: $space-md;
background-color: white;
width: 90%;
max-width: 900px;
margin: 0 auto;
    
/* Azzerare padding e margin del UL */
padding: $space-sm 0;
margin: 0;
list-style: none;

border-radius: $glass-radius;
box-shadow: $glass-box-shadow;
border: $glass-border;

min-width: 0;  // serve per evitare overflow extra
}


.card-ingrediente {
    flex: 0 0 140px; // larghezza fissa perfetta per scroll
    list-style: none;
    margin: $space-sm;
    text-align: left;
    font-size: 0.9rem;
}

.immagine-ingrediente {
    display: block;
    margin: 0 auto $space-xs;
    width: 80px;
    height: auto;
}

.preparazione {
position: relative;
top: 2.5rem;
width: auto;
padding: $space-sm;
}
.conservazione {
position:relative;
margin-top:20%;
}