@import '../base/variables';

.overlay-modale {
position: fixed;  // NON relative (lo facciamo stare al di sopra di tutto)
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: rgba(0, 0, 0, 0.7); // overlay scuro è una best practice per i modali
z-index: 1000; 
overflow-y: auto; 
display: flex;
justify-content: center;
align-items: flex-start; 
padding: 2rem;
}

.contenitore-principale {
position: relative; 
background-image: $color-bg;
width: 100vw;
border-radius: 8px;
margin: auto;
padding: 0.5rem;
}

.titolo-ricetta-modale{
position: relative;
top: 4.2rem;
background-color: $glass-bg;
backdrop-filter: blur(20px);
color: $color-text;
box-shadow: $glass-box-shadow;
border: $glass-border;
border-radius: $glass-radius;
padding: $space-sm;
font-size: 1rem;
width: fit-content;

@include respond(md) { // larghezza minima (≥768px)
    font-size: 1.5rem;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    font-size: 2rem;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    font-size: 2.3rem;
  }

}

.immagine-ricetta-modale{
width: 100%;
padding: $space-xs;
border-radius: $glass-radius;
box-shadow: $glass-box-shadow;
}

.description {
position: relative;
width: 100%;
padding: $space-xs;
background-color: $glass-bg;
backdrop-filter: blur(20px);
margin-top: 35px;
border-radius: $glass-radius;

}
/////////////// Dettagli ricetta ///////////////////

.container-ingredienti{
margin-top:$space-lg;
display: flex;
flex-direction: row;
overflow: scroll;
width: 100%;
gap:$space-xs;
background-color: $glass-bg;
padding:$space-lg;
text-decoration: none;
border-radius: 12px;
box-shadow: $glass-box-shadow;
border:$glass-border;
padding: $space-lg;
}

.card-ingrediente {
list-style: none;
margin: $space-sm;
list-style: none;
margin: $space-lg;
text-align: left;
font-size: 0.8rem;

    @include respond(md) { // larghezza minima (≥768px)
        margin: $space-xs;
        font-size: 1rem;
    }
    @include respond (lg) {// larghezza minima (≥1024px)
        margin: $space-lg;
        font-size: 1.5rem;
    }
    @include respond (xl){ // larghezza minima (≥1440px)
        margin: $space-xl;
        font-size: 2rem;
    }
}

.immagine-ingrediente {
margin-bottom: 2rem;

@include respond(md) { // larghezza minima (≥768px)
    width: 50px;
}
@include respond (lg) {// larghezza minima (≥1024px)
    margin: $space-sm;
    font-size: 1rem;
}
@include respond (xl){ // larghezza minima (≥1440px)
    margin: $space-md
}
}

.immagine-ingrediente {
    margin-bottom:$space-lg;
}
.preparazione {
position: relative;
top: 2.5rem;
width: 90%;
padding-left: 1rem;
}
.conservazione {
position:relative;
margin-top:20%;
}