@import '../base/variables';

.overlay-modale {
/* position: fixed;
top: 10vh;
left: 0;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: $glass-bg;
backdrop-filter: blur(20px);
z-index: 999; */
width: 100%;
  position: relative;
  margin: 0.5rem;
  align-content: center;
}

.contenitore-principale {
position: relative;
background: linear-gradient(to bottom, rgba(248, 248, 248, 0.985), rgba(0, 128, 0, 0.99));
padding: 1rem;
width: 100%;
min-width: 100vw;
top:50%;
}

.description {
position: relative;
background-color: $glass-bg;
width: 100%;
padding: 0.5rem;
}

.titolo-ricetta-modale {
position: relative;
backdrop-filter: blur(20px);
background-color: $glass-bg;
border-radius: $border-radius;
border: $glass-border;
padding: $space-sm;
}

.immagine-ricetta-modale{
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37), inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  width: 90%;
  display: grid;
  justify-items: center;
  border-radius: 12px;
  margin: 1rem;
}


.bottone-mostra-ingredienti {
    background-color: red;
}

.conservazione{
    background-color: aqua;
}