// Container principale per le ricette random
.random-recipes-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  width: 95vw;
  height: fit-content;
  padding: 1rem;
  margin: $space-xs;
  background-image: linear-gradient(to bottom, azure, #62c371be);
  border: $glass-border;
  border-radius: $glass-radius;

  &::-webkit-scrollbar {
    height: 8px;
  }
}

// Header delle ricette random
.random-recipes-header {
  font-size: 2rem;
  margin: 0.75rem;
  text-align: center;
}

// Card della ricetta random
.recipe-card--random {
  position: relative;
  flex-shrink: 0;
  min-width: 25vh;
  width: 25vh;
  height: 35vh;
  padding: 0;
  border-radius: $glass-radius;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

  @include respond(md) {
    min-width: 36vh;
    width: 40vh;
    height: 30vh;
    margin-left: 5.5rem;
  }

  @include respond(lg) {
    min-width: 36vh;
    height: 30vh;
    margin-left: 5.5rem;
  }

  @include respond(xl) {
    min-width: 46vh;
    height: 40vh;
    margin-left: 5%;
  }
}

// Immagine della ricetta
.recipe-image--random {
  width: 100%;
  height: 100%;
  border-radius: $glass-radius;
  object-fit: cover;
}

// Titolo della ricetta
.recipe-title--random {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 90%;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: $color-text;
  background-color: $glass-bg;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: $glass-radius;
  box-shadow: $glass-box-shadow;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  text-overflow: ellipsis;

  &::-webkit-scrollbar {
    height: 4px;
  }

  @include respond(md) {
    width: 92%;
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  @include respond(lg) {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  @include respond(xl) {
    padding: 0.7rem;
    font-size: 2rem;
    width: 95%;
  }
}

// Tempo di preparazione
.recipe-time--random {
  position: absolute;
  bottom: 10rem;
  left: $space-sm;
  width: fit-content;
  padding: 0.35rem;
  font-size: 0.65rem;
  color: #f7f3f3;
  background-color: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37), inset 0 1px 0 0 rgba(255, 255, 255, 0.3);

  @include respond (xs) {
    
  }
  @include respond (sm) {

  }

  @include respond(md) {
    font-size: 0.75rem;
    bottom: 7rem;
  }

  @include respond(lg) {
    font-size: 0.85rem;
  }

  @include respond(xl) {
    font-size: 1rem;
  }
}