.search-results-container {
    position: relative;
    top: 5vh;
    justify-items: center;
  width: 100vw;
}

  .recipe-card--search{
    margin-bottom: 2%;
    background-image: $color-bg;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: $glass-border;
  }
  .recipe-image--search {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .recipe-title--search {
    font-size: 1.5rem;
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.1019607843);
    box-shadow: $glass-box-shadow;
    position: absolute;
    background-color: rgba(254, 254, 254, 0);
    width: fit-content;
    max-width: 90%;
    padding: 0.5rem;
    overflow-x: scroll;
    top: 1%;
  }
  
  .recipe-time--search {
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.1019607843);
    box-shadow: $glass-box-shadow;
    position: relative;
    font-size: 0.8rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    width: fit-content;
    bottom: -2vh;
  }