
.share-text {
font-size: 1rem;
margin-bottom: 0.5rem;
color: #333;
font-weight: 500;
}

.img-share-container{
    position:relative;
}
.share-social-buttons {
background: $glass-background;
backdrop-filter: $glass-backdrop;
border:$glass-border;
border-radius: $glass-radius;
box-shadow: $glass-box-shadow;
}