.recipe-timer-container {
    position:relative;
    width: 100%;
   justify-content: space-evenly;
    padding: 0.3rem;
}
.timer-title{
    font-size: 2rem;
    font-weight: bold;
    margin: $space-sm;
}
.timer-compact {
    background: $color-accent;
}

.timer-header {
    font-size: medium;
    color: $color-text;
}

.extended-timer-header{
    font-size: medium;
    color: $color-text;
}

.timer-icon {
    width: 25px;
    height: auto;
    padding: $space-md;
}


.timer-mode-toggle{
display: flex;
flex-direction: row;
}
.timer-controls{
    display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.time-display-large{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}