// regole globali (body, html, scroll)
@import './variables';

html {
  font-size: 16px; // 1rem = 16px
  scroll-behavior: smooth; // transizioni "smooth" durante lo scroll 
}

body {
  font-family: 'poppins';
  background-color: $glass-background; // definito in _variables.scss
  color: $color-text;
  min-height: 100vh; // corpo sempre alto quanto l'intera finestra
  display: flex; // Lo imposto qua così a cascata tutti i "figli" otterranno la struttura flessibile
  flex-direction: column; // best practice per layout verticali 
}

