// regole globali (body, html, scroll)
@import './variables';

body {
  font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: $color-bg;
}

