// Breakpoints - taglie dello schermo "$sm" = small; "$md" = medium.. ecc

$sm: 480px;   // Small: smartphone
$md: 768px;   // Medium: tablet
$lg: 1024px;  // Large: laptop
$xl: 1440px;  // Extra large: monitor desktop


// Palette colori
$color-primary: #62c370;
$color-accent: #397e43;
$color-bg: linear-gradient(to bottom, rgba(248, 248, 248, 0.985), rgba(0, 128, 0, 0.343));
$color-text: #1c1c1c;
$button-text: #ffff;
// Glassmorphism sul box shadow



// Glassmorphism (stile Apple)

$glass-bg: rgba(255,255,255,0.14);   // sfondo vetro
$glass-border: 1 px solid rgba(255, 255, 255, 0.3);
$glass-shadow: 0 6px 24px rgba(8, 30, 10, 0.12);
$glass-radius: 12px;
$glass-box-shadow: 
    0 8px 32px 0 rgba(0, 0, 0, 0.37),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.3)
;


// Spacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;
