
//  🌿 Veggiebook stile di base
// ============================

// Import dei moduli base
@import 'normalize.css';
@import './base/reset';
@import './base/variables';
@import './base/mixins';
@import './components/buttons';
@import './components/searchbar';
@import './components/recipe-details';
@import './components/randomRecipes';
@import './components/_searchedRecipes.scss';
@import './base/global';
@import './components/timer';
@import './components/icons';
@import './components/share-recipe';



// ============================
//  Global Reset / Base Setup
// ============================
* {
box-sizing: border-box; // padding e border siano inclusi nella larghezza/altezza dell’elemento
// Metto i seguenti valori a "0" per non farli interferire con quelli di default del browser 
margin: 0;
padding: 0;
}


.App { // base mobile-first (sotto 480px)
display:flex;
flex-direction: column;
align-items: center;
gap: $space-md;
width: 100vw;
overflow-x: hidden; 
  @include respond(md) { // larghezza minima (≥768px)
    
  }
  @include respond (lg) {// larghezza minima (≥1024px)

  }
  @include respond (xl){ // larghezza minima (≥1440px)

  }
}



.logo-container{
display: flex;
flex-direction: column;
align-items: center;
gap: 1 rem;
padding: 2rem;
}

.logo-veggiebook {
max-width: 200px;
max-height: 200px;
  
@include respond(md) { // larghezza minima (≥768px)
    max-width: 300px;
    max-height: 300px;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    max-width: 350px;
    max-height: 350px;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    max-width: 400px;
    max-height: 400px;
  }

}

h1 {
text-align: center;
font-size: 3rem;

@include respond(md) { // larghezza minima (≥768px)
  font-size: 4rem;
}
@include respond (lg) {// larghezza minima (≥1024px)
  font-size: 5rem;
}
@include respond (xl){ // larghezza minima (≥1440px)
  font-size: 6rem;
}

}

.section-header {
  font-size: 1.5rem;
  text-align: left;
  margin: $space-md;
}



.footer {
background-color:rgba(0, 128, 0, 0.607);
position:relative;
bottom:0;
width: 100%;
height: fit-content;
padding: $space-md;
margin-top: 5%;
border-top-right-radius:12px ;
border-top-left-radius:12px ;
align-items: center;
display: flex;
flex-direction: column;
}

.container-socials{
width: auto;
height: fit-content;
display: flex;
flex-direction: row;
padding: $space-sm;
align-items: center;
margin: $space-md;
gap: $space-sm;
}

.social-icon {
position: relative;
display: flex;
margin: $space-xs;
width: auto;
height: 20px;
align-items: center;
  @include respond(md) { // larghezza minima (≥768px)
    width: auto;
    height: 30px;
    margin: $space-sm;
  }
  @include respond (lg) {// larghezza minima (≥1024px)
    max-width: auto;
    max-height: 40px;
    margin: $space-md;
  }
  @include respond (xl){ // larghezza minima (≥1440px)
    max-width: auto;
    max-height: 40px;
    margin: $space-lg;
  }
}