
//  🌿 Veggiebook stile di base
// ============================

// Import dei moduli base
@import 'normalize.css';
@import './base/reset';
@import './base/variables';
@import './base/mixins';
@import './components/buttons';
@import './components/searchbar';
@import './components/modals';
@import './components/randomRecipes';
@import './components/_searchedRecipes.scss';
@import './base/global';



// ============================
//  Global Reset / Base Setup
// ============================
* {
  box-sizing: border-box; // padding e border siano inclusi nella larghezza/altezza dell’elemento
  // Metto i seguenti valori a "0" per non farli interferire con quelli di default del browser 
  margin: 0;
  padding: 0;
}


.App {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  overflow-x: hidden;
}

.logo-container{
display: flex;
flex-direction: column;
align-items: center;
gap: 1 rem;
padding: 2rem;
}

.logo-veggiebook {
  max-width: 100px;
  max-height: 100px;
}

h1 {
  text-align: center;
}

.footer {
  background-color:green;
  position:fixed;
  bottom:0;
  height:fit-content;
  width: 100vw;
}

.social-icon{
  width: 40px;
  display: flex;
  flex-direction: row;
  padding: $space-sm;
  align-items: center;
}